<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613935479507-3drjdehm01f3gf8eik9g8tbaalrdgqbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613935479507-3drjdehm01f3gf8eik9g8tbaalrdgqbe</string>
	<key>API_KEY</key>
	<string>AIzaSyChNQG1Ija2u6g6ZqzScssYpFAPx9AbMjo</string>
	<key>GCM_SENDER_ID</key>
	<string>613935479507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.bitcoin</string>
	<key>PROJECT_ID</key>
	<string>crypto-7da61</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-7da61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613935479507:ios:cfa8e9e4c0a10aa20e7226</string>
</dict>
</plist>